.uploadVideoDiv {
    min-width: 367px;
    height: 210px;
    overflow: hidden;
    box-sizing: border-box;
}

.uploadItemDiv {
    min-width: 210px;
    height: 210px;
    overflow: hidden;
    box-sizing: border-box;
}

.uploadSelectIconDiv, .uploadProgressDiv, .uploadResult {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed rgb(228, 228, 228);
    border-radius: 10px;
    cursor: pointer;
}

.uploadSelectIconDiv span {
    font-size: 70px;
    color: rgb(144, 144, 144);
}

.uploadResult {
    position: relative;
    cursor: auto;
    overflow: hidden;
}

.detailIconButton, .deleteIconButton {
    position: absolute;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 25px;
    border: transparent;
    border-radius: 50%;
    color: rgba(0, 0, 0, 0.54);
    background-color: rgb(144, 144, 144, 0.7);
    cursor: pointer;
}

.detailIconButton {
    left: 5px;
}

.deleteIconButton {
    right: 5px;
}

/*.uploadResult button:hover {*/
/*    background-color: rgb(144, 144, 144, 0.6);*/
/*    transition: all 0.3s;*/
/*}*/