.changePasswordContainer {
  box-shadow: none;
  border-radius: 10px;
  border: 1px solid rgb(228, 228, 228);
  width: 100%;
  padding: 2em;
  overflow: hidden;
}

.changePasswordButton {
  padding: 1em 2em;
  font-size: 0.875rem;
  font-weight: bold;
  font-style: normal;
  min-width: 4em;
  line-height: 1.75;
  box-shadow: none;
}
.changePasswordButtonLabel {
  width: 100%;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
}
.passwordFieldsContainer {
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.header {
  color: #202124;
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 32px;
}
.headerContainer {
  margin-bottom: 2em;
}
.oldPassword {
}
.newPassword {
}
.confirmNewPassword {
}
