.navbar_search {
  flex: 1 1 0%;
  flex-grow: 1;
  padding: 0px, 8px;
  margin: 8px;
  height: 100%;
}

.navbar_search_form {
  margin-left: 16px;
  margin-right: 16px;
  background-color: none;
  height: 100%;
  width: 100%  
}

.navbar_search_feild {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: none;
  background-color: lightgray;
  border-style: none;
  min-height: 50px;
  border-radius: 8px;
}

.navbar_searchIcon {
  color: gray;
  margin-left: 16px;
  /* height: 40px;
  width: 40px; */
}

.navbar_crossIcon {
  color: gray;
  margin-right: 16px;
}
