.chat_frame {
   /* min-width: 500px; */
    min-height: 700px;
}
.chat_title {
    min-width: 500px;
    display: flex;
    justify-content: space-between

}
.chat_title:hover {
    background-color: inherit;
}

.chat_filter {
    background-color: rgb(255, 255, 255);
    height: 40px;
    max-height: 100%;
    padding: 0px 16px;
    border-radius: 33px;
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(144, 144, 144);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 13px;
    line-height: 1.5;
    /* border: 0px solid transparent; */
    border: none;
    box-sizing: border-box;
}

.chat_filter:hover {
    background-color: lightgray;
}


.chat_iten {
}

.chat_divider {
}
