.navbar_root {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    /* max-width: 1075px;
    min-width: 768px; */
    position: relative;
    justify-content: space-between;
    -webkit-box-pack: justify;
    padding: 8px, 0px, 0px;
    color: var(--nav-font-color);
    background-color: inherit;
  }
  
  .navbar_toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: none;
  }
  