.main {
    display: flex;
  flex-direction: column;
  align-items: center;
    height: 100vh;
    background-color: white;
}

.content {
    display: flex;
    max-width: 972px;
    min-width: 800px;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    margin: 80px auto 100px;
}

.title {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    line-height: 1.5;
    text-align: center;
    font-size: 45px;
    margin-bottom: 20px;
}

.description {
    max-width: 780px;
    margin-bottom: 32px;
    text-align: center;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1.5;
    font-size: 18px;
}

.controller {
    margin-bottom: 100px;
    display: flex;
    gap: 24px;
}

.banner {
    display: flex;
    gap: 8px;
}

.image {
    height: 253px;
    width: 324px;
}


