

/* This is for the Text Editor Link */
.text-editor__link,
.text-editor__link:visited {
  color: #2E6EF5;
  text-decoration: none;
}

.text-editor__link:hover {
  text-decoration: underline;
}


:root {
    /* -------------------------------- */
  /* global variables for nav bar */
  --nav-background-color: rgb(255, 255, 255);
  --nav-border-color: rgb(228, 228, 228);
  --nav-font-color: #202124;
}
