
.navbar_header {
  top: 0px;
  width: 100%;
  z-index: 1100;
  display: flex;
  position: absolute;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: white;
  border-bottom: 1px solid var(--nav-border-color);
  color: var(--nav-font-color);
  height: 112px;
}