.loginSec {
    display: flex;
    flex-direction: flex-end;
    justify-content: space-between;
    margin: 8px;
    height: 75%;
}

.navbar_btn {
    color: #909090;
    border: 1px solid #E4E4E4;
    height: auto;
    padding-top: 11px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 11px;
    text-transform: uppercase;
    background-color: #FFFFFF;
    border-color: #909090;    
    margin-left: 16px;
}

.navbar_btn:hover {
    color: #202124;
    border-color: #909090;
}

